{{#each hits}}
<div class="photo-card">
    <a class="gallery__item" href="{{largeImageURL}}">
    <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy"  />
    </a>
    <div class="info">
        <p class="info-item">
            <span class="text">Likes</span> <span class="numbers">{{likes}}</span>
        </p>
        <p class="info-item">
            <span class="text">Views</span>  <span class="numbers">{{views}}</span>
        </p>
        <p class="info-item">
            <span class="text">Comments</span> <span class="numbers">{{comments}}</span>
        </p>
        <p class="info-item">
            <span class="text">Downloads</span> <span class="numbers">{{downloads}}</span>
        </p>
    </div>
    
</div>
{{/each}}